streamlit==1.44.1
google-generativeai==0.3.2
numpy==1.26.4
pymongo==4.12.0
python-dotenv==1.1.0
Pillow==11.2.1
gtts==2.3.2
SpeechRecognition==3.10.0
pygame==2.5.0
protobuf==3.20.3
bcrypt==4.0.1
python-jose==3.3.0
python-multipart==0.0.6
pyaudio==0.2.13
openai-whisper==20240930
pydub==0.25.1
watchdog==3.0.0
tensorflow==2.15.0
torch==2.7.0
torchaudio==2.7.0
reportlab==4.1.0
pandas==2.2.3
scikit-learn==1.6.1
matplotlib==3.8.2
joblib==1.4.2
markdown-it-py==3.0.0
mdurl==0.1.2
pygments==2.19.1
rich==14.0.0
altair==4.2.2
jsonschema==4.23.0
rpds-py==0.24.0
pyasn1-modules==0.4.2
grpcio-status==1.49.0rc1
google-auth==2.39.0
google-api-core==2.24.2
typing-extensions==4.13.2
packaging==24.2
click==8.1.8
